<!DOCTYPE html>
<html>

<head>

<title>Upload File</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<div class="toast-container position-fixed top-0 end-0 p-3">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}

            <div class="toast show align-items-center text-bg-success border-0 mb-2"
                 role="alert"
                 data-bs-delay="3000">

                <div class="d-flex">
                    <div class="toast-body">
                        {{ message }}
                    </div>

                    <button type="button"
                            class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast">
                    </button>
                </div>

            </div>

            {% endfor %}
        {% endif %}
    {% endwith %}

</div>
<body>

<div class="container mt-5">

<div class="card shadow">

<div class="card-header bg-primary text-white">

Upload File

</div>

<div class="card-body">

<form method="POST" enctype="multipart/form-data">

<div class="mb-3">

<label>
File Upload
</label>

<input
type="file"
name="file"
class="form-control">


<button class="btn btn-primary">
Save File
</button>

</form>

</div>

</div>

</div>

</body>
</html>